.logOutButton {
    background-color: #CACACA;
    color: #fff !important;
    border: none !important;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
    padding: 8px 16px;
    border: none;
    margin-left: auto; /* Pushes the button to the right */
    align-self: center; /* Centers vertically */
}

.logOutButton:hover {
    background-color: #7A7A7A;
}