/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/home/organization-overview/index.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.organization-overview_organizationOverviewCard__IIUMf {
    height: 200px;
    display: flex;
    justify-content: center; /* Horizontally aligns items */
    align-items: center;
    flex-direction: column;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/home/wallet-balance/index.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.wallet-balance_walletCard__YdsHu {
    height: 200px;
    display: flex;
    justify-content: center; /* Horizontally aligns items */
    align-items: center;
    flex-direction: column;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/home/index.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.home_financialSummaryContainer__kQjuJ {
    background: #D9D9D9;
    border-radius: 5px;
    padding: 10px;
}

.home_filterButton__1FFEh, .home_selectedFilterButton__zB4T8 {
    background-color: #7DEFFF;
    height: 20px;
    width: auto;
    padding: 0px 10px;
    margin: 5px;
    border-radius: 5px;
}

.home_selectedFilterButton__zB4T8 {
    background-color: #14def9 !important;
}

.home_filterButton__1FFEh:hover {
    background-color: #14def9;
}
