/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/home/organization-overview/index.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.organization-overview_organizationOverviewCard__IIUMf {
    height: 200px;
    display: flex;
    justify-content: center; /* Horizontally aligns items */
    align-items: center;
    flex-direction: column;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/home/wallet-balance/index.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.wallet-balance_walletCard__YdsHu {
    height: 200px;
    display: flex;
    justify-content: center; /* Horizontally aligns items */
    align-items: center;
    flex-direction: column;
}

