.financialSummaryContainer {
    background: #D9D9D9;
    border-radius: 5px;
    padding: 10px;
}

.filterButton, .selectedFilterButton {
    background-color: #7DEFFF;
    height: 20px;
    width: auto;
    padding: 0px 10px;
    margin: 5px;
    border-radius: 5px;
}

.selectedFilterButton {
    background-color: #14def9 !important;
}

.filterButton:hover {
    background-color: #14def9;
}