.menu {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 6px;
    color: #6B6B6B;
}

.menu:hover {
    color: #FF6666;
    background-color: #D6D6D6;
}

.menu:hover svg path {
  fill: #FF6666; /* Adjust the fill color */
}

.menuSelected {
    fill: #FF6666;
    color: #FF6666;
    background-color: #D6D6D6;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 6px;
}